<div class="container">
  <h1>Testing data generator</h1>
  <div class="CenterContent">
    <button class="button" (click) = "SaveLoadService.saveCsv(DataService.DataForExport)">
      Save CSV
    </button>
    <button class="button" (click) = "SaveLoadService.saveJson(DataService.DataForExport)">
      Save JSON
    </button>
    <button class="button" routerLink="/dataPreparation">
      Back to settings
    </button>
  </div>
  <div>
    <app-view-tab>
    </app-view-tab>
  </div>
</div>





