<div>
  <form [formGroup]="SubmitTemplate">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Оглавление столбца</mat-label>
        <input formControlName="columnName" matInput>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Выберите тип данных</mat-label>
        <mat-select formControlName="dataType">
          <mat-option value="int">Целое число</mat-option>
          <mat-option value="float">Число с плавающей точкой</mat-option>
          <mat-option value="bool">Логический</mat-option>
          <mat-option value="string">Строка</mat-option>
          <mat-option value="date">Дата</mat-option>
          <mat-option value="date_time">Дата-время</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Диапазон от</mat-label>
        <input formControlName="rangeFrom" matInput>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Диапазон до</mat-label>
        <input formControlName="rangeTo" matInput>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Каким по счёту будет столбец</mat-label>
        <input formControlName="columnNumber" matInput>
      </mat-form-field>
    </div>
  </form>
<div>
<!--  <button mat-raised-button color="primary" (click)="OnAdd()" mat-dialog-close>Сохранить</button>-->
  <button mat-raised-button color="primary" (click)="pukich()" mat-dialog-close>Сохранить</button>
  <button mat-raised-button color="warn" style="margin-left: 8px" mat-dialog-close>Закрыть</button>
</div>
</div>
