<div class="container">
  <h1>Testing data generator</h1>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Logo_SSI_Sch%C3%A4fer.svg/1280px-Logo_SSI_Sch%C3%A4fer.svg.png" class="logo">
  <div>
    <app-tab>

    </app-tab>
  </div>
  <div class="CenterContent">
      <button class="button">
        Save
      </button>
      <button class="button">
        Load
      </button>
      <input type="number" size="40">
      <button class="button">
        Start generation
      </button>
  </div>
</div>





