<div>
  <form [formGroup]="Submit">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input formControlName="name"matInput>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option value="number">number</mat-option>
          <mat-option value="double">double</mat-option>
          <mat-option value="bool">bool</mat-option>
          <mat-option value="string">string</mat-option>
          <mat-option value="date">date</mat-option>
          <mat-option value="date_time">date-time</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Pattern</mat-label>
        <input formControlName="pattern" matInput>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>	GenType</mat-label>
        <mat-select formControlName="genType">
          <mat-option value="IterGenNum">IterGenNum</mat-option>
          <mat-option value="RandGenNum">RandGenNum</mat-option>
          <mat-option value="PRandGenNum">PRandGenNum</mat-option>
          <mat-option value="IterGenBool">IterGenBool</mat-option>
          <mat-option value="PRandGenBool">PRandGenBool</mat-option>
          <mat-option value="IterGenString">IterGenString</mat-option>
          <mat-option value="RandGenString">RandGenString</mat-option>
          <mat-option value="PRandGenString">PRandGenString</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Speed</mat-label>
        <input formControlName="speed" matInput>
      </mat-form-field>
    </div>
    <div *ngIf="this.Submit.value.genType == 'IterGenNum'">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>RangeFrom</mat-label>
          <input formControlName="rangeFrom" matInput>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>RangeTo</mat-label>
          <input formControlName="rangeTo" matInput>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Step</mat-label>
          <input formControlName="step" matInput>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>InitialValue</mat-label>
          <input formControlName="initialValue" matInput>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="this.Submit.value.genType == 'RandGenNum'">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>RangeFrom</mat-label>
          <input formControlName="rangeFrom" matInput>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>RangeTo</mat-label>
          <input formControlName="rangeTo" matInput>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="this.Submit.value.genType == 'PRandGenNum'">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>MU</mat-label>
          <input formControlName="mu" matInput>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Sig</mat-label>
          <input formControlName="sig" matInput>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="this.Submit.value.genType == 'IterGenBool'">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>InitialValue</mat-label>
          <input formControlName="initialValue" matInput>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="this.Submit.value.genType == 'PRandGenBool'">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Probability</mat-label>
          <input formControlName="probability" matInput>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="this.Submit.value.genType == 'IterGenString'">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Range</mat-label>
          <input formControlName="range" matInput>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Step</mat-label>
          <input formControlName="step" matInput>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>InitialValue</mat-label>
          <input formControlName="initialValue" matInput>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="this.Submit.value.genType == 'RandGenString'">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Range</mat-label>
          <input formControlName="range" matInput>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="this.Submit.value.genType == 'PRandGenString'">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Range</mat-label>
          <input formControlName="range" matInput>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Probability</mat-label>
          <input formControlName="probability" matInput>
        </mat-form-field>
      </div>
    </div>

    <div>
      <button mat-raised-button color="primary" mat-dialog-close (click)="onEdit()">Сохранить</button>
      <button mat-raised-button color="warn" style="margin-left: 8px" mat-dialog-close>Закрыть</button>
    </div>
  </form>
</div>
